language: php

php:
    - 5.3
    - 5.4
    - 5.5
    - 5.6
    - hhvm

before_script:
    - composer install

after_script:
    # Do not execute coveralls in HHVM
    - if [[ $TRAVIS_PHP_VERSION != 'hhvm' ]]; then php vendor/bin/coveralls -v; fi
