<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
        colors="true"
        bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="A Star Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory>src</directory>
            <directory>benchmark</directory>
            <directory>examples</directory>
        </include>

        <exclude>
            <file>benchmark/benchmark.php</file>
            <file>examples/Graph/example.php</file>
            <file>examples/Terrain/example.php</file>
        </exclude>

        <report>
            <clover outputFile="build/logs/clover.xml"/>
            <text outputFile="php://stdout"/>
        </report>
    </coverage>
</phpunit>
